<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
  <div ng-app="Project">
    <div ng-controller="DisplayFeatures">
      <div class="container">
       <div class="row">
        <div class="col-lg-2">
          <div style="width: 180px; height: 140px;">
            <img style="width: 180px; height: 70px;" alt="TARDY logo" src="./images/tardy-logo.jpg">
            <img style="width: 180px; height: 70px;" alt="APR logo" src="./images/APR-QD.jpg">
          </div>
        </div>
        <div class="col-lg-8" style="text-align: center">
          <h1><big><big>Project Features</big></big></h1>
          <img alt="H2020_head" src="./images/horizon2020.jpg">
        </div>
        <div class="col-lg-2">
          <div class="row">
            <div class="col-lg-12">
              {{User}}
              <img alt="user" src="./images/user.jpg" style="width: 50px; height: 50px;">
            </div>
            <div class="col-lg-12">
              <img alt="message" src="./images/message.jpg" style="width: 50px; height: 50px;">
              <a href="Accueil.html"><img alt="home" src="./images/home.jpg" style="width: 50px; height: 50px;"></a>
              <img alt="logout" src="./images/signout.jpg" style="width: 50px; height: 50px;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <p><big><big></big></big></p>
    <div class="container">
      <div class="row">
        <div class="col-lg-2" style="border: 2px solid black; border-radius: 6px;"> 
          <legend> Menu </legend>
          <div class="row">
            <div><a id="returnButton" href="">
              <div class="col-lg-12">
                <img style="width: 40px; height: 40px;" alt="Add" src="./images/history.jpg">
                <big>Back</big>
              </div>
            </a></div>
          </div>
          <p></p>
          <div id="finalDecision">
            <div class="row">
              <div id="acceptDiv" ng-click="setFinaldecision(1)"><a id="acceptButton" href="">
                <div class="col-lg-12">
                  <img style="width: 40px; height: 40px;" alt="accept" src="./images/decision.jpg">
                  <big>Accept</big>
                </div>
              </a></div>
            </div>
            <p></p>
            <div class="row">
              <div id="refuseDiv" ng-click="setFinaldecision(0)"><a id="refuseButton" href="">
                <div class="col-lg-12">
                  <img style="width: 40px; height: 40px;" alt="Save" src="./images/delete.jpg">
                  <big>Reject</big>
                </div>
              </a></div>
            </div>
          </div>
        </div>  
        <div class="col-lg-10">
          <form method="get">
            <div class="row">
              <div class="col-lg-4">
                <div class="row">
                  <legend class="col-lg-12">Features</legend>
                  <input id="feature_id" type="hidden" ng-model="feature_id">
                  <div class="col-lg-12">
                    <label for="Part reference">Part reference: {{part_reference}}</label>
                    <input id="part_reference_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Label">Label: {{label}}</label>
                    <input id="label_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Attribution">Attribution: {{attribution}}</label>
                    <input id="attribution_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="metal">metal: {{metal}}</label>
                    <input id="metal_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="plastic">plastic: {{plastic}}</label>
                    <input id="plastic_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Component">Component: {{component}}</label>
                    <input id="component_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Compound">Compound: {{compound}}</label>
                    <input id="compound_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Ratio">Ratio: {{ratio}}</label>
                    <input id="ratio_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Material">Material: {{material}}</label>
                    <input id="material_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Heat Treatment">Heat Treatment: {{heat_treatment}}</label>
                    <input id="heat_treatment_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Surface Treatment">Surface Treatment: {{surface_treatment}}</label>
                    <input id="surface_treatment_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Width">Width: {{width}}</label>
                    <input id="width_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Lenght">Length: {{lenght}}</label>
                    <input id="lenght_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Height">Heigth: {{height}}</label>
                    <input id="heigth_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Volume">Volume: {{volume}}</label>
                    <input id="volume_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Manufacturing">Manufacturing: {{manufacturing}}</label>
                    <input id="manufacturing_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Tolerances">Tolerances: {{tolerance}}</label>
                    <input id="tolerance_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Rugosity">Rugosity: {{rugosity}}</label>
                    <input id="rugosity_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                  <div class="col-lg-12">
                    <label for="Comments">Comments: {{comments}}</label>
                    <input id="comments_acceptation" type="checkbox" onchange="angular.element(this).scope().isTrue()">
                  </div>
                </div>
              </div>

              <div class="col-lg-8">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="row">
                      <table class="col-lg-6">
                        <thead><tr><th>files</th><th></th></tr></thead>
                        <tbody>
                          <tr ng-repeat="x in file">
                            <td>{{x.document_name}}</td>
                            <td><input type="button" value="select" ng-click="moveFile($index,1)"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="col-lg-6">
                        <thead><tr><th>selected files</th><th></th></tr><th></th></thead>
                        <tbody>
                          <tr ng-repeat="x in selectedFile">
                            <td>{{x.document_name}}</td>
                            <td><input type="button" value="unselect" ng-click="moveFile($index,2)"></td>
                            <td><input type="button" value="display" ng-click="displayFile($index)"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="col-lg-12">
                      <iframe id="display3D" src="" style="width: 140%; height: 500px;">
                      </iframe>
                    </div>
                    <div class="col-lg-12">
                     <iframe id="pdfReader" src="" style="width: 140%; height: 500px;"></iframe>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </form>
       </div>
       <div class="col-lg-12" style="text-align: right;">
        Powered by <img alt="Vf-os" src="./images/vfos-logo-232x85.jpg" style="width: 100px; height: 36px;">
      </div>
    </div>
  </div>
  <script src="./controller/Project.js"></script>
  <script src="./controller/displayFeature.controller.js"></script>
</body>
</html>